
br {
    display: block;
    margin: 10px 0;
 }
 
.general-item-info {
    max-width: 311px;
    padding-left: 35px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #4D9A5F;

    display: flex;
    justify-content: flex-start;
}

.circle {
    background: #b7ebc4;
    
    width: 24px;
    height: 24px;
    border-radius: 100px;
    text-align: center;
    line-height: 24px;
}

.name {
    width: 255px;

    padding-left:16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4A5056;
}

.price {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4A5056;
    text-align: right;

}

.discount-info{
    max-width: 262px;
    padding-left:84px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    justify-content: flex-start;

    color: #AEB5BC;
}

.discount{
    width: 257px;
}

.discount-amount{
    text-align: right;
}

.description-info{
    max-width: 311px;

    padding-left:84px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #AEB5BC;
}