@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "../../variables.scss";

.center-component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-tab {
  /* Background Grey */
  margin-top: -12px;

  background: white;
  border-radius: 16px;
}
