@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "../../variables.scss";

.log-out-button {
  display: block;
  margin: auto;
  background: $subheader-grey;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.log-out-button:hover {
  background: hsl(3, 61%, 41%);
}

.log-out-text {
  font-weight: bold;
  font-size: $font-size-xxs;
  line-height: $spacing-s;

  /* Background Grey */

  color: $background-grey;
}

.log-out-1 {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.log-out-2 {
  display: flex;
  margin-top: 14px;
  margin-left: 20px;
}
