@import "../variables";
.empty__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-s;
  line-height: 30px;
  color: #4a5056;
  padding: 5rem;
}
