@import "../variables";
.greeting__a {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-s;
    line-height: 36px;
    color: #F8F9FA;
    padding-left: $spacing-s;
}

.greeting__b {
    /* 24pt Lato */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size-xxs;
    line-height: 29px;
    padding-left: $spacing-s;
    color: #F8F9FA;
}

.nav {
    // padding: 3vh 6vw 6vw;
    padding: $spacing-s $spacing-xs $spacing-xs;
    display: flex; 
    justify-content: space-between;
}