@import "../variables.scss";

.shade {
  border-radius: 50%;
  /* remove if you don't care about IE8 */
  width: 12px;
  height: 11px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.shade.grocery {
  background: #e8fbed;
}
.shade.settings {
  width: 4px;
  height: 4px;
  background: #8dd6a4;
}
.shade.help {
  width: 4px;
  height: 4px;
  background: #8dd6a4;
}
