@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "../../variables.scss";

/* for all */
html {
  font-size: 62.5%;
}
.background.grocery {
  background: #64bd79;
}
.background.food {
  background: #cc4039;
}

// for Heading.tsx
.back-button-padding {
  padding-left: $spacing-s;
  padding-top: $spacing-s;
}

.back-button {
  width: 28px;
  height: 28px;
  border-radius: 2000px;
  text-align: center;
  line-height: 28px;
  background: $light-accent-green;
}

.arrow-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 14px;
}

.arrow-left::after,
.arrow-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.arrow-left::after {
  width: 11px;
  height: 11px;
  bottom: 1.5px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  color: $main-green;
}

.arrow-left::before {
  width: 13px;
  height: 2px;
  bottom: 6.5px;
  background: currentColor;
  color: $main-green;
}

.heading-logo-circle {
  margin: 0 auto;
  width: 65px;
  height: 65px;
  border-radius: 200px;
  text-align: center;
  line-height: 65px;

  position: relative;

  background: #ffffff;
}

.icon {
  position: absolute;
  left: 20%;
  top: 18%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.heading-store-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: $font-size-xs;
  line-height: $spacing-s;
  text-align: center;

  color: $background-grey;
}

.heading-transaction-time {
  /* 16pt Lato */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-xxs;
  line-height: $spacing-s;
  text-align: center;

  /* Light Accent Green 2 */
  color: $light-accent-green-2;
}

span {
  display: inline-block;
}
