@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import "../../variables.scss";

/* for all */
html {
  font-size: 62.5%;
}

.general-receipt-info {
  display: flex;
  justify-content: flex-start;
}

.items-text {
  /* 14pt Lato */

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  /* Subheader Grey */

  color: #878e95;
}

.category-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  /* Dark Green 3 */
  color: #4d9a5f;

  text-align: right;
}
