/* for StoreDetail.tsx */
.store-detail {

    /* 14pt Lato */
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    /* Dark Gray 1 */
    color: #353A3F;

}

.store-detail-name {
    font-weight: bold;
}

/* for CashTransaction.tsx */
.background{
    background: #F8F9FA;
}

hr{
    position: absolute;
    height: 0px;

    /* Light Gray 2 */
    border: 1px solid #E9ECEF;
}

.small-titles{
    position: absolute;
    width: 79px;
    height: 17px;

    /* 14pt Lato */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    /* Subheader Grey */
    color: #878E95;
}