@import "../../variables";
.receipt__card__detail {
    display: flex; 
    flex-flow: row nowrap;  
    font-family: Lato;
    font-style: normal; 
}  

.receipt__card__col {
    display: flex;  
    flex-flow: column nowrap;
    justify-content: center;
}

.card__container {  
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #FFFFFF; 
    border-radius: 8px;
    width: 19rem; 
    padding: 0.8rem 0.8rem 0.8rem 0.2rem;
    box-shadow: $button-shadow;
    margin: 0.5rem;
} 

.receipt__card__icon {
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: center; 
    padding: 0rem 0.2rem 0rem 1rem; 
}

.store {
    font-weight: 500;
    font-size: $font-size-xxxxxs;
    color: #4A5056; 
    margin: 5px;
} 

.items {
    color: #878E95;
    font-weight: normal;
    font-size: $font-size-xxxxxs; 
    margin: 5px;
}

.total {
    font-weight: 500;
    font-size: $font-size-xxxxxs;
    color: #4A5056;
    text-align : right;
    margin: 5px;
}
.date {
    color: #878E95;
    font-weight: normal;
    font-size: $font-size-xxxxxs;
    text-align : center;
    margin: 5px;
} 
