@import "../../variables";
.card__container {
    display: grid; 
    box-shadow: $button-shadow;
    border-radius: 8px;
    max-width: 200px;
    min-width: 0px;
    max-height:40px;
    background: #FFFFFF;
    padding: 20px 80px 20px 20px;
    grid-template-columns: 30px 150px 100px; 
    grid-gap: 5px;
    font-family: Lato;
    font-style: normal;     
    margin: 1.5vh;
} 

.store {
    font-weight: 500;
    font-size: $font-size-xxs;
    color: #4A5056;
} 

.items {
    color: #878E95;
    font-weight: normal;
    font-size: $font-size-xxxxxs;
}

.total {
    font-weight: 500;
    font-size: $font-size-xxxxxs;
    color: #4A5056;
    text-align : center;
}
.date {
    color: #878E95;
    font-weight: normal;
    font-size: $font-size-xxxxxs;
    text-align : center;
}
